<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
         <p>This site was created by sreenath.It uses data from Mapbox API and darksky.net API</p>
    </div>
    
    {{>footer}}
</body>

</html>
